.trendingCarousel {
  position: relative;
  margin: 0 1.5rem;
}

.trendingCarousel h3 {
  color: var(--text-color);
  font-size: var(--font-size-title);
  font-weight: 700;
  margin: 1rem 0;
}

.trendingCarouselContent {
  display: flex;
  overflow: visible !important;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}

.trendingCarouselItem {
  position: relative;
  flex: 0 0 auto;
  width: 15rem !important;
  height: 22.5rem !important;
  overflow: hidden;
  cursor: pointer;
}

.trendingCarouselItem:last-child {
  margin-right: 4.5rem;
}

.trendingCarouselItem img {
  z-index: -1;
  position: absolute;
  border-radius: var(--border-radius-medium);
  width: 100%;
}

.trendingCarouselItem .details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--text-color);
  font-size: var(--font-size-medium);
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-medium);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000 100%);
}

.trendingCarouselItem .details h4 {
  font-size: var(--font-size-medium);
  font-weight: 700;
  padding: 0 1rem 0.25rem 1rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.trendingCarouselItem .details p {
  margin: 0;
  font-size: 0.7rem;
  padding: 0 1rem 1rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.trendingCarouselItem .details p span:first-child {
  font-weight: 700;
  color: #ffae00;
}

.trendingCarouselItem .details p span:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--secondary-color);
}

.buttonContainerAboveBig div {
  width: 3rem;
  height: 3rem;
}

.buttonContainerAboveBig {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-small);
}

.buttonContainerAboveBig {
  display: flex;
  flex-direction: column;
  z-index: 999;
  position: absolute;
  top: calc(50% + 1.5rem);
  right: 0;
  transform: translateY(-50%);
}

.arrowButtonLeft,
.arrowButtonRight {
  width: 2rem;
  height: 2rem;
  background-color: #28262d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: var(--text-color);
}

.arrowButtonLeft svg,
.arrowButtonRight svg {
  width: 1.25rem;
  height: 1.25rem;
}

.arrowButtonLeft svg {
  transform: translateX(-5%);
}

.arrowButtonRight svg {
  transform: translateX(5%);
}

@media (max-width: 960px) {
  .trendingCarousel {
    margin: 0 var(--spacing-medium);
  }

  .trendingCarouselItem {
    width: 12rem !important;
    height: 18rem !important;
  }

  .trendingCarouselItem:last-child,
  .bestMoviesAndSeriesCarouselItem:last-child {
    margin-right: 0;
  }

  .trendingCarouselItem .details h4 {
    font-size: var(--font-size-medium);
  }
}
